<section class="">
	<button class="btn btn-warning pull-right" ng-click="addNew()">Add New</button>
	<h1 class="page-header"><i class="fa fa-bank" aria-hidden="true"></i> Banks</h1>
	<table class="table table-striped">
		<tr>
			<th>Sl</th>
			<th>Bank Name</th>
			<th>Zone</th>
			<th>State</th>
			<th>Branch</th>
			<th>IFSC</th>
			<th>Poduct</th>
			<th>Crdit Score</th>
			<th>Rules</th>
			<th>Action</th>
		</tr>
		<tr ng-repeat="bank in banks track by $index">
			<td>{{$index + 1}}</td>
			<td>{{bank.bankname}}</td>
			<td>{{bank.zone}}</td>
			<td>{{bank.state}}</td>
			<td>{{bank.branch}}</td>
			<td>{{bank.ifsccode}}</td>
			<td>{{bank.producttype | product}}</td>
			<td>{{bank.creditscore}}</td>
			<td><a ui-sref="rules({bankName: bank.bankname})">View</a></td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editBank(bank.bid)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteBank(bank.bid)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</td>
		</tr>
		<tr ng-if="!banks.length">
			<td colspan="10">No Record Found !!</td>
		</tr>
	</table>
</section>