<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Bank Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal" name="add_new_bank_form" autocomplete="off">
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.bank_name.$valid}">
			<label for="bank_name" class="col-sm-3 control-label">Bank Name</label>
			<div class="col-sm-9">
				<input type="text" id="bank_name" name="bank_name" ng-model="$ctrl.data.bankname" placeholder="Bank Name" uib-typeahead="state for state in banks | filter:$viewValue | limitTo:8" class="form-control" required="required" autocomplete="off" maxlength="30" />
				<i ng-show="add_new_bank_form.bank_name.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.zone.$valid}">
			<label for="zone" class="col-sm-3 control-label">Zone</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="zone" name="zone" placeholder="Zone" ng-model="$ctrl.data.zone" required="required" maxlength="30" />
				<i ng-show="add_new_bank_form.zone.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.state.$valid}">
			<label for="state" class="col-sm-3 control-label">State</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="state" name="state" placeholder="State" ng-model="$ctrl.data.state" required="required" maxlength="30" />
				<i ng-show="add_new_bank_form.state.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.branch.$valid}">
			<label for="branch" class="col-sm-3 control-label">Branch</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="branch" name="branch" placeholder="Branch" ng-model="$ctrl.data.branch" required="required" maxlength="30" />
				<i ng-show="add_new_bank_form.branch.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.ifsccode.$valid}">
			<label for="ifsc_code" class="col-sm-3 control-label">IFSC Code</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="ifsc_code" name="ifsccode" placeholder="IFSC Code" ng-model="$ctrl.data.ifsccode" required="required" maxlength="30" />
				<i ng-show="add_new_bank_form.ifsccode.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.product.$valid}">
			<label for="product" class="col-sm-3 control-label">Product</label>
			<div class="col-sm-9">
				<select class="form-control" id="product" ng-model="$ctrl.data.producttype">
					<option value="">Select</option>
					<option ng-repeat="product in products" value="{{product.value}}">{{product.title}}</option>
				</select>
				<i ng-show="add_new_bank_form.product.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_bank_form.creditscore.$valid}">
			<label for="credit_score" class="col-sm-3 control-label">Credit Score</label>
			<div class="col-sm-9">
				<select class="form-control" id="credit_score" name="creditscore" ng-model="$ctrl.data.creditscore" required="required">
					<option value="">Select</option>
					<option value="300">300-550</option>
					<option value="550">550-700</option>
					<option value="700">700-850</option>
				</select>
				<i ng-show="add_new_bank_form.creditscore.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>		
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>