<header class="header">
	<div class="">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Quikkloan</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li ng-class="{'active': currentRouteParam==route.path}" ng-repeat="route in routes">
							<a href="#{{route.path}}">{{route.title}}</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right" ng-if="routes.length">
						<li><a href="#">Verify PAN</a></li>
						<li class="dropdown" uib-dropdown>
							<a id="single-button" type="button"  uib-dropdown-toggle ng-disabled="disabled">
								<i class="fa fa-user fa-fw"></i>
								<i class="fa fa-caret-down"></i>
							</a>
							<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
								<li style="padding: 10px">Welcome {{username | uppercase}} </li>
								<li role="separator" class="divider"></li>
								<li><a ng-click="logout()">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</header>