<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Application Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Comment</h3>
		</div>
		<div class="panel-body">
			<p>{{data.comment}}</p>
		</div>
	</div>
    <uib-tabset active="activeJustified" justified="true">
	    <uib-tab index="0" heading="Personal">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Aadhar</th>
	    				<th>PAN</th>
	    				<th>Name</th>
	    				<th>Email</th>
	    				<th>Gender</th>
	    				<th>Mobile</th>
	    				<th>Father</th>
	    			</tr>
	    			<tr>
	    				<td ng-bind="data.aadhar"></td>
	    				<td ng-bind="data.pannumber"></td>
	    				<td>{{data.firstname}}</td>
	    				<td ng-bind="data.email"></td>
	    				<td ng-bind="data.gender"></td>
	    				<td ng-bind="data.mobile"></td>
	    				<td ng-bind="data.fathername"></td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	    <uib-tab index="1" heading="Address">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Sl</th>
	    				<th>H.N.</th>
	    				<th>Street</th>
	    				<th>City</th>
	    				<th>State</th>
	    				<th>PIN</th>
	    				<th>Landmark</th>
	    				<th>Locality</th>
	    				<th>Type</th>
	    				<th></th>
	    			</tr>
	    			<tr>
	    				<td>1</td>
	    				<td ng-bind="data.present_housNumber"></td>
	    				<td ng-bind="data.present_street"></td>
	    				<td ng-bind="data.present_city"></td>
	    				<td ng-bind="data.present_state"></td>
	    				<td ng-bind="data.present_pin"></td>
	    				<td ng-bind="data.present_landmark"></td>
	    				<td ng-bind="data.present_locality"></td>
	    				<td ng-bind="data.present_residenceType"></td>
	    				<td ng-bind="data.present_c_add_years"></td>
	    				<td ng-bind="data.present_years_cur_city"></td>
	    			</tr>
	    			<tr>
	    				<td>2</td>
	    				<td ng-bind="data.permanent_housNumber"></td>
	    				<td ng-bind="data.permanent_street"></td>
	    				<td ng-bind="data.permanent_city"></td>
	    				<td ng-bind="data.permanent_state"></td>
	    				<td ng-bind="data.permanent_pin"></td>
	    				<td ng-bind="data.permanent_landmark"></td>
	    				<td ng-bind="data.permanent_locality"></td>
	    				<td ng-bind="data.permanent_residenceType"></td>
	    				<td ng-bind="data.permanent_c_add_years"></td>
	    				<td ng-bind="data.permanent_years_cur_city"></td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	    <uib-tab index="2" heading="Loan">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Amount</th>
	    				<th>Purpose</th>
	    				<th>Tenure</th>
	    			</tr>
	    			<tr>
	    				<td ng-bind="data.amount"></td>
	    				<td ng-bind="data.purpose"></td>
	    				<td ng-bind="data.tenure"></td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	    <uib-tab index="3" heading="Refrence">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Sl</th>
	    				<th>Name</th>
	    				<th>Mobile</th>
	    				<th>Email</th>
	    				<th>Address</th>
	    				<th>Relation</th>
	    			</tr>
	    			<tr>
	    				<td>1</td>
	    				<td ng-bind="data.ref1_name"></td>
	    				<td ng-bind="data.ref1_mobile"></td>
	    				<td ng-bind="data.ref1_email"></td>
	    				<td ng-bind="data.ref1_address"></td>
	    				<td ng-bind="data.ref1_relation"></td>
	    			</tr>
	    			<tr>
	    				<td>2</td>
	    				<td ng-bind="data.ref2_name"></td>
	    				<td ng-bind="data.ref2_mobile"></td>
	    				<td ng-bind="data.ref2_email"></td>
	    				<td ng-bind="data.ref2_address"></td>
	    				<td ng-bind="data.ref2_relation"></td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	    <uib-tab index="4" heading="Company">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Name</th>
	    				<th>Type</th>
	    				<th>EMployement Type</th>
	    				<th>Experiance</th>
	    				<th>Overall Experiance</th>
	    				<th>Salary</th>
	    				<th>address</th>
	    			</tr>
	    			<tr>
	    				<td ng-bind="data.companyName"></td>
	    				<td ng-bind="data.companyType"></td>
	    				<td ng-bind="data.employementType"></td>
	    				<td ng-bind="data.currentCompanyExperiance"></td>
	    				<td ng-bind="data.employementType"></td>
	    				<td ng-bind="data.monthlySalary"></td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	    <uib-tab index="5" heading="Document">
	    	<div class="tab-content-data">
	    		<table class="table">
	    			<tr>
	    				<th>Sl</th>
	    				<th>Document</th>
	    				<th>Download</th>
	    				<th>Delete</th>
	    			</tr>
	    			<tr ng-repeat="file in files track by $index">
	    				<td>{{$index + 1}}</td>
	    				<td>{{file.filename}}</td>
	    				<td>
	    					<button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.downloadFile(file.id)">
	                            <i class="fa fa-download" aria-hidden="true"></i> Download
	                        </button>
						</td>
	    				<td>
	    					<button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.deleteFile(file.id)">
	                            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
	                        </button>
	    				</td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	  </uib-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>