<section class="">
	<h1 class="page-header"><i class="fa fa-file-text" aria-hidden="true"></i> Applications</h1>
	<div class="grid-header">
		<div ng-if="!selectedRow.aid">
			<h5>Select any record {{user}}</h5>
		</div>
		<div ng-if="selectedRow.aid">
			<ul class="grid-navigation">
				<li><a><i class="fa fa-envelope-o" aria-hidden="true"></i> Mail to Customer</a></li>
				<li>
					<a ng-click="assignToRM(selectedRow.aid)" ng-if="user == 'ADMIN'">
						<i class="fa fa-envelope-o" aria-hidden="true"></i> Assign to RM</a>
				</li>
				<li>
					<a ng-click="changeStatus(selectedRow.aid,1, 'Varify')" ng-if="user =='ADMIN'">
						<i class="fa fa-check" aria-hidden="true"></i> Varify PAN</a>
				</li>
				<li>
					<a ng-click="changeStatus(selectedRow.aid, 2, 'Approve')" ng-if="user =='RM'">
						<i class="fa fa-check" aria-hidden="true"></i> Approve</a>
				</li>
				<li>
					<a ng-click="changeStatus(selectedRow.aid, 3, 'Disbursed' )" ng-if="user =='RM'">
						<i class="fa fa-check" aria-hidden="true"></i> Disbursed</a>
				</li>
				<li>
					<a ng-click="changeStatus(selectedRow.aid, 4, 'Reject')" ng-if="user =='RM'">
						<i class="fa fa-check" aria-hidden="true"></i> Reject</a>
				</li>
				<li>
					<a ng-click="showDetail(selectedRow.aid)">
						<i class="fa fa-list-ul" aria-hidden="true"></i> View Detail</a>
				</li>
			</ul>
		</div>
		<!-- <div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-default">Mail to Customer</button>
			<button type="button" class="btn btn-default">Mail to RM</button>
			<button type="button" class="btn btn-default">Varify PAN</button>
			<button type="button" class="btn btn-default" ng-click="showDetail(selectedRow.aid)">View Detail</button>
		</div> -->
	</div>
	<div id="grid1" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
</section>