<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Application Detail</h3>
</div>
<div class="modal-body" id="modal-body">
    <table class="table">
		<tr>
			<th>Select</th>
			<th>RM Name</th>
			<th>Bank</th>
			<th>Location</th>
			<th>mobile</th>
		</tr>
		<tr ng-repeat="rm in rms">
			<td>
				<!-- <input type="radio" name="id" ng-model="$ctrl.rmid" value="{{rm.rmid}}" /> -->
				<label class="radio">
					<input id="radio1" type="radio" name="rmid" ng-model="$ctrl.rmid" value="{{rm.rmid}}" />
					<span class="outer">
						<span class="inner"></span>
					</span>
				</label>
			</td>
			<td ng-bind="rm.name"></td>
			<td ng-bind="rm.bank"></td>
			<td ng-bind="rm.location"></td>
			<td ng-bind="rm.mobile"></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>