<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Companies Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal" name="add_new_company_form" autocomplete="off">
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_company_form.bankname.$valid}">
			<label for="bank_name" class="col-sm-3 control-label">Select Bank</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.bankname" name="bankname" required="required">
					<option value="">Select</option>
					<option ng-repeat="bank in banks">{{bank.bankname}}</option>
				</select>
				<i ng-show="add_new_company_form.bankname.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_company_form.category.$valid}">
			<label for="zone" class="col-sm-3 control-label">Select Category</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.categories" name="category" required="required">
					<option value="">Select</option>
					<option ng-repeat="category in categories" value="{{category.value}}">{{category.title}}</option>
				</select>
				<i ng-show="add_new_company_form.category.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_company_form.companyname.$valid}">
			<label for="company_name" class="col-sm-3 control-label">Company Name</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="company_name" name="companyname" placeholder="Company Name" ng-model="$ctrl.data.companyname" required="required" maxlength="30" />
				<i ng-show="add_new_company_form.companyname.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_company_form.companyType.$valid}">
			<label for="branch" class="col-sm-3 control-label">Company type</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.companyType" name="companyType" required="required">
					<option value="">Select</option>
					<option value="mnc">MNC</option>
					<option value="nonmnc">Non -MNC</option>
				</select>
				<i ng-show="add_new_company_form.companyType.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback">
			<label for="branch" class="col-sm-3 control-label"></label>
			<div class="col-sm-9">
				<label><input type="checkbox" ng-model="$ctrl.data.starcompany" ng-true-value="'special'" ng-false-value="'nonspecial'" /> Special Company</label>
			</div>
		</div>	
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>