<section class="">
	<button class="btn btn-warning pull-right" ng-click="addNew()">Add New</button>
	<h1 class="page-header"><i class="fa fa-building" aria-hidden="true"></i> Companies</h1>
	<table class="table table-striped">
		<tr>
			<th>sl</th>
			<th>Company Name</th>
			<th>Type</th>
			<th>Category</th>
			<th>Special</th>
			<th>Bank Name</th>
			<th>Action</th>
		</tr>
		
		<tr ng-repeat="company in companies track by $index">
			<td>{{$index + 1}}</td>
			<td>{{company.companyname}}</td>
			<td>{{company.companyType}}</td>
			<td>{{company.categories | category}}</td>
			<td>
				<i class="fa" ng-class="{
					'fa-heart-o' : company.starcompany!='special',
					'fa-heart' : company.starcompany=='special'}" aria-hidden="true"></i>
			</td>
			<td>{{company.bankname}}</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editBank(company.cid)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteBank(company.cid)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</td>
		</tr>
		<tr ng-if="!companies.length">
			<td colspan="7">No Record Found !!</td>
		</tr>
	</table>
</section>