<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Financial Associate Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<form name="add_new_fa_form" autocomplete="off">
		<uib-tabset active="activeJustified" justified="true">
		    <uib-tab index="0" heading="Profile">
		    	<div class="tab-content-data">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.name.$valid}">
								<label for="name" class="control-label">Name</label>
								<input type="text" class="form-control" name="name" ng-model="$ctrl.data.name" required="required" maxlength="20" />
								<i ng-show="add_new_fa_form.name.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.dob.$valid}">
							<label for="dob" class="control-label">DOB</label>
								<p class="input-group">
									<input type="text" class="form-control" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.date" is-open="$ctrl.popup.opened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="$ctrl.altInputFormats" required="required" maxlength="15" />
									<span class="input-group-btn">
					            		<button type="button" class="btn btn-default" ng-click="$ctrl.open()">
					            			<i class="fa fa-calendar" aria-hidden="true"></i>
					            		</button>
					          		</span>
					          	</p>

								<!-- <input type="text" class="form-control" id="dob" name="dob" placeholder="DOB" ng-model="$ctrl.data.dob" required="required" /> -->
								<i ng-show="add_new_fa_form.dob.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.qualification.$valid}">
								<label for="qualification" class="control-label">Qualification</label>
								<input type="text" class="form-control" id="qualification" name="qualification" placeholder="Qualification" ng-model="$ctrl.data.qualification" required="required" maxlength="20" />
								<i ng-show="add_new_fa_form.qualification.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.bussiness.$valid}">
								<label for="bussiness" class="control-label">Business</label>
								<input type="text" class="form-control" id="bussiness" name="bussiness" placeholder="Bussiness" ng-model="$ctrl.data.bussiness" required="required" maxlength="20" />
								<i ng-show="add_new_fa_form.bussiness.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.city.$valid}">
								<label for="city" class="control-label">City</label>
									<input type="text" class="form-control" id="city" name="city" placeholder="City" ng-model="$ctrl.data.city" maxlength="20" required="required" />
									<i ng-show="add_new_fa_form.city.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
								
							</div>

						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.state.$valid}">
								<label for="state" class="control-label">State</label>
								<input type="text" class="form-control" id="state" name="state" placeholder="State" ng-model="$ctrl.data.state" required="required" maxlength="20" />
								<i ng-show="add_new_fa_form.state.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.phone.$valid}">
								<label for="phone" class="control-label">Phone</label>								
								<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="$ctrl.data.phone" required="required" maxlength="10" />
								<i ng-show="add_new_fa_form.phone.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>								
							</div>

						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_fa_form.email.$valid}">
								<label for="email" class="control-label">Email</label>								
								<input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="$ctrl.data.email" required="required" maxlength="30" />
								<i ng-show="add_new_fa_form.email.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<!-- <div class="form-group has-feedback">
								<label for="branch" class="control-label">Gender</label>								
								<label><input type="radio" ng-model="$ctrl.data.gender" name="gender" value="male" ng-checked="$ctrl.data.gender == 'male'" /> Male</label>
								<label><input type="radio" ng-model="$ctrl.data.gender" name="gender" value="female" ng-checked="$ctrl.data.gender == 'female'"/> Female</label>
							</div> -->
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.username.$valid}">
								<label for="username" class="control-label">Username</label>							
								<input type="text" class="form-control" id="username" name="username" ng-model="$ctrl.data.username" placeholder="Username" required="required" ng-disabled="$ctrl.data.faid" maxlength="10" />
								<i ng-show="add_new_rm_form.username.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.password.$valid}">
								<label for="password" class="control-label">Password</label>
								<input type="text" class="form-control" id="password" name="password" ng-model="$ctrl.password" placeholder="Password" maxlength="10" />
								<i ng-show="add_new_rm_form.password.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				
	    	</div>
	    </uib-tab>
	    <uib-tab index="1" heading="Document">
	    	<div class="tab-content-data">
	    		<div class="panel panel-primary" ng-if="!$ctrl.files.length">
					<div class="panel-heading">
						<h3 class="panel-title">Document</h3>
					</div>
					<div class="panel-body">
						<p>No Documents Uplaoded !</p>
					</div>
				</div>

	    		<table class="table" ng-if="$ctrl.files.length">
	    			<tr>
	    				<th>Sl</th>
	    				<th>Document</th>
	    				<th>Download</th>
	    				<th>Delete</th>
	    			</tr>
	    			<tr ng-repeat="file in $ctrl.files track by $index">
	    				<td>{{$index + 1}}</td>
	    				<td>{{file.filename}}</td>
	    				<td>
	    					<button type="button" class="btn btn-primary btn-xs" ng-click="$ctrl.downloadFile(file.id)">
	                            <i class="fa fa-download" aria-hidden="true"></i> Download
	                        </button>
						</td>
	    				<td>
	    					<button type="button" class="btn btn-danger btn-xs" ng-click="$ctrl.deleteFile(file.id)">
	                            <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
	                        </button>
	    				</td>
	    			</tr>
	    		</table>
	    	</div>
	    </uib-tab>
	</uib-tabset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Save</button>
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>