<section class="">
	<button class="btn btn-warning pull-right" ng-click="addNew()">Add New</button>
	<h1 class="page-header"><i class="fa fa-user" aria-hidden="true"></i> Financial Associate</h1>
	<table class="table table-striped">
		<tr>
			<th>Sl</th>
			<th>Name</th>
			<th>Login ID</th>
			<th>DOB</th>
			<th>Qualification</th>
			<th>Bussiness</th>
			<th>City</th>
			<th>State</th>
			<th>Gender</th>
			<th>Phone</th>
			<th>Email</th>
			<!-- <th>Status</th> -->
			<th>Action</th>
		</tr>
		<tr ng-repeat="fa in fas track by $index">
			<td>{{$index + 1}}</td>
			<td>{{fa.name}}</td>
			<td>{{fa.username}}</td>
			<td>{{fa.dob}}</td>
			<td>{{fa.qualification}}</td>
			<td>{{fa.bussiness}}</td>
			<td>{{fa.city}}</td>
			<td>{{fa.state}}</td>
			<td>{{fa.gender}}</td>
			<td>{{fa.phone}}</td>
			<td>{{fa.email}}</td>
			<!-- <td>{{fa.status}}</td> -->
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editFA(fa.faid)">
					<i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteFa(fa.faid)">
					<i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</td>
		</tr>
		<tr ng-if="!fas.length">
			<td colspan="11">No Record Found !!</td>
		</tr>		
	</table>
</section>