<section class="page-container">
	<h1 class="page-header"><i class="fa fa-dashboard" aria-hidden="true"></i> Dashboard</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-group fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{$ctrl.applicationsData.total}}</div>
		                    <div>Total Application</div>
		                </div>
		            </div>
		        </div>
		        <a ng-click="$ctrl.viewApplicationDetail()">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-yellow">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-check fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{$ctrl.applicationsData.approved}}</div>
		                    <div>Approved Application</div>
		                </div>
		            </div>
		        </div>
		        <a ng-click="$ctrl.viewApplicationDetail(2)">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-green">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-user fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{$ctrl.applicationsData.assigned}}</div>
		                    <div>Assigned Application</div>
		                </div>
		            </div>
		        </div>
		        <a ng-click="$ctrl.viewApplicationDetail(1)">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-red">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-times fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{$ctrl.applicationsData.rejected}}</div>
		                    <div>Rejected Application</div>
		                </div>
		            </div>
		        </div>
		        <a ng-click="$ctrl.viewApplicationDetail(4)">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-aqua">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-thumbs-o-up fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{$ctrl.applicationsData.disbursed}}</div>
		                    <div>Disbursed Application</div>
		                </div>
		            </div>
		        </div>
		        <a ng-click="$ctrl.viewApplicationDetail(3)">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		            <div class="row">
		                <div class="col-xs-3">
		                    <i class="fa fa-money fa-3x"></i>
		                </div>
		                <div class="col-xs-9 text-right">
		                    <div class="huge">{{0 | currency}}</div>
		                    <div>Fee Earned</div>
		                </div>
		            </div>
		        </div>
		        <a href="#">
		            <div class="panel-footer">
		                <span class="pull-left">View Details</span>
		                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
		                <div class="clearfix"></div>
		            </div>
		        </a>
		    </div>
		</div>
	</div>
	<div class="row">
		<!-- <div class="col-md-4">
			<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
                    
                    <div class="pull-right">
                    	<div class="btn-group" uib-dropdown>
					    	<button id="single-button" type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
					        Action <span class="caret"></span>
					      	</button>
					      	<ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Refresh</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
					    </div>
					</div>
                </div>
                <div class="panel-body">
					<canvas id="bar" class="chart chart-bar"
					  chart-data="bar.data" chart-labels="bar.labels"> chart-series="series"
					</canvas>						
				</div>                            
            </div>
		</div> -->
		<!-- <div class="col-md-4">
			<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Line Chart Example
                    
                    <div class="pull-right">
                    	<div class="btn-group" uib-dropdown>
					    	<button id="single-button" type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
					        Action <span class="caret"></span>
					      	</button>
					      	<ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Refresh</a></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
					    </div>
					</div>
                </div>
                <div class="panel-body">
					<canvas id="line" class="chart chart-line" chart-data="line.data"
					chart-labels="line.labels" chart-series="line.series" chart-options="line.options"
					chart-dataset-override="line.datasetOverride" chart-click="onClick">
					</canvas>
				</div>                            
            </div>
		</div> -->
		<div class="col-md-4">
			<div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-pie-chart"></i> Application Status
                    
                    <div class="pull-right">
                    	<div class="btn-group" uib-dropdown>
					    	<button id="single-button" type="button" class="btn btn-default btn-xs dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
					        Action <span class="caret"></span>
					      	</button>
					      	<ul class="dropdown-menu pull-right" role="menu">
                                <li><a ng-click="$ctrl.changeData()">Refresh</a></li>
                            </ul>
					    </div>
					</div>
                </div>
                <div class="panel-body">
					<canvas id="pie" class="chart chart-pie" 
						chart-data="$ctrl.pie.data"
						chart-labels="$ctrl.pie.labels"
						chart-colors="$ctrl.pie.colors"
						chart-options="$ctrl.pie.pieoptions">				
					</canvas>
				</div>                            
            </div>
		</div>
	</div>
</section>