<div class="login-wrapper" set-height reduce="50">
	<div class="overlay" set-height reduce="0">
		<div class="login">
			<!-- <div class="profile-icon">
				<i class="fa fa-user fa-fw fa-3x"></i>
			</div> -->
			<form name="login_form">
				<h2>Login</h2>
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="" class="form-control" ng-model="$ctrl.username" required="required" />
				</div>
				<button type="button" class="btn btn-primary" ng-click="$ctrl.resetPassword()">Reset Password</button>
				<div class="text-right">
					<a ui-sref="login()">Login</a>
				</div>
			</form>
		</div>
	</div>
</div>