<div class="login-wrapper" set-height reduce="50">
	<div class="overlay" set-height reduce="0">
		<div class="login">
			<!-- <div class="profile-icon">
				<i class="fa fa-user fa-fw fa-3x"></i>
			</div> -->
			<form name="login_form">
				<h2>Login</h2>
				<div class="form-group">
					<label>Username</label>
					<input type="text" name="" class="form-control" ng-model="username" required="required" />
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="" class="form-control" ng-model="password" required="required" />
				</div>
				<button type="button" class="btn btn-primary" ng-click="loginAccount()">Login</button>
				<div class="text-right">
					<a ui-sref="forgetPassword()">Forget Password</a>
				</div>
			</form>
		</div>
	</div>
</div>