<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Rules Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal" name="add_new_rule_form" autocomplete="off">
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.bankname.$valid}">
			<label for="bank_name" class="col-sm-3 control-label">Bank</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.bankname" name="bankname" required="required">
					<option value="">Select</option>
					<option ng-repeat="bank in banks">{{bank.bankname}}</option>
				</select>
				<i ng-show="add_new_rule_form.bankname.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.category.$valid}">
			<label for="zone" class="col-sm-3 control-label">Category</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.category" name="category" required="required">
					<option value="">Select</option>
					<option ng-repeat="category in categories" value="{{category.value}}">{{category.title}}</option>
				</select>
				<i ng-show="add_new_rule_form.category.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.intrestrate.$valid}">
			<label for="company_name" class="col-sm-3 control-label">Interest Rate</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="company_name" name="intrestrate" placeholder="Interest Rate" ng-model="$ctrl.data.intrestrate" required="required" maxlength="3" />
				<i ng-show="add_new_rule_form.intrestrate.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.loanamount.$valid}">
			<label for="loanamount" class="col-sm-3 control-label">Loan Amount</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="loanamount" name="loanamount" placeholder="Loan Amount" ng-model="$ctrl.data.loanamount" required="required" maxlength="10" />
				<i ng-show="add_new_rule_form.loanamount.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.minmonthlySalary.$valid}">
			<label for="minmonthlySalary" class="col-sm-3 control-label">Min Salary</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="minmonthlySalary" name="minmonthlySalary" placeholder="Min Salary" ng-model="$ctrl.data.minmonthlySalary" required="required" maxlength="10" />
				<i ng-show="add_new_rule_form.minmonthlySalary.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.maxmonthlySalary.$valid}">
			<label for="maxmonthlySalary" class="col-sm-3 control-label">Max Salary</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="maxmonthlySalary" name="maxmonthlySalary" placeholder="Max Salary" ng-model="$ctrl.data.maxmonthlySalary" required="required" maxlength="10" />
				<i ng-show="add_new_rule_form.maxmonthlySalary.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.paycharge.$valid}">
			<label for="paycharge" class="col-sm-3 control-label">Pre Payment Charges</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="paycharge" name="paycharge" placeholder="Pay Charges" ng-model="$ctrl.data.paycharge" required="required" maxlength="3" />
				<i ng-show="add_new_rule_form.paycharge.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.processingfee.$valid}">
			<label for="processingfee" class="col-sm-3 control-label">Processign Fees</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="processingfee" name="processingfee" placeholder="Processign Fees" ng-model="$ctrl.data.processingfee" required="required" maxlength="3" />
				<i ng-show="add_new_rule_form.processingfee.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>