<section class="">
	<button class="btn btn-warning pull-right" ng-click="addNew()">Add New</button>
	<h1 class="page-header"><i class="fa fa-building" aria-hidden="true"></i> Rules</h1>
	<table class="table table-striped">
		<tr>
			<th>Sl</th>
			<th>Bank Name</th>
			<th>Category</th>
			<th>Interest Rate</th>
			<th>Loan Amount</th>
			<th>Min Salary</th>
			<th>Max Salary</th>
			<th>Pre Payment Charges</th>
			<th>Processing Fee</th>
			<th>Action</th>
		</tr>
		
		<tr ng-repeat="rule in rules track by $index">
			<td>{{$index + 1}}</td>
			<td>{{rule.bankname}}</td>
			<td>{{rule.category | category}}</td>
			<td>{{rule.intrestrate}} %</td>
			<td>{{rule.loanamount | currency}}</td>
			<td>{{rule.minmonthlySalary | currency}}</td>
			<td>{{rule.maxmonthlySalary | currency}}</td>
			<td>{{rule.paycharge}} %</td>
			<td>{{rule.processingfee}} %</td>
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editRule(rule.id)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteRule(rule.id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</td>
		</tr>
		<tr ng-if="!rules.length">
			<td colspan="9">No Record Found !!</td>
		</tr>
	</table>
</section>