<div class="modal-header">
	<h3 class="modal-title" id="modal-title">RM Detail</h3>
</div>
<div class="modal-body" id="modal-body">
	<form class="form-horizontal" name="add_new_rm_form" autocomplete="off">
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.name.$valid}">
			<label for="bank_name" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="name" ng-model="$ctrl.data.name" required="required" placeholder="Name" maxlength="30" />
				<i ng-show="add_new_rm_form.name.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rule_form.bank.$valid}">
			<label for="bank_name" class="col-sm-3 control-label">Bank</label>
			<div class="col-sm-9">
				<select class="form-control" ng-model="$ctrl.data.bank" name="bank" required="required">
					<option value="">Select</option>
					<option ng-repeat="bank in banks">{{bank.bankname}}</option>
				</select>
				<i ng-show="add_new_rule_form.bank.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.product.$valid}">
			<label for="product" class="col-sm-3 control-label">Product</label>
			<div class="col-sm-9">
				<select class="form-control" id="product" ng-model="$ctrl.data.product">
					<option value="">Select</option>
					<option ng-repeat="product in products" value="{{product.value}}">{{product.title}}</option>
				</select>
				<i ng-show="add_new_rm_form.product.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.zone.$valid}">
			<label for="zone" class="col-sm-3 control-label">Zone</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="zone" id="zone" ng-model="$ctrl.data.zone" required="required" placeholder="Zone" maxlength="30" />
				<i ng-show="add_new_rm_form.zone.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.location.$valid}">
			<label for="location" class="col-sm-3 control-label">Location</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="location" id="location" ng-model="$ctrl.data.location" required="required" placeholder="Location" maxlength="30" />
				<i ng-show="add_new_rm_form.location.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.branch.$valid}">
			<label for="branch" class="col-sm-3 control-label">Branch</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" name="branch" id="branch" ng-model="$ctrl.data.branch" required="required" placeholder="Branch" maxlength="30" />
				<i ng-show="add_new_rm_form.branch.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.email.$valid}">
			<label for="email" class="col-sm-3 control-label">Email</label>
			<div class="col-sm-9">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="$ctrl.data.email" required="required" placeholder="Email" maxlength="30" />
				<i ng-show="add_new_rm_form.email.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.mobile.$valid}">
			<label for="mobile" class="col-sm-3 control-label">Mobile</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="mobile" name="mobile" ng-model="$ctrl.data.mobile" placeholder="Mobile" required="required" maxlength="10" />
				<i ng-show="add_new_rm_form.mobile.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>		
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.username.$valid}">
			<label for="username" class="col-sm-3 control-label">Username</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="username" name="username" ng-model="$ctrl.data.username" placeholder="Username" required="required" ng-disabled="$ctrl.data.rmid" maxlength="10" />
				<i ng-show="add_new_rm_form.username.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
		<div class="form-group has-feedback" ng-class="{'has-success': add_new_rm_form.password.$valid}">
			<label for="password" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="password" name="password" ng-model="$ctrl.password" placeholder="Password" maxlength="10" />
				<i ng-show="add_new_rm_form.password.$valid" class="fa fa-check form-control-feedback" aria-hidden="true"></i>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>