<section class="">
	<button class="btn btn-warning pull-right" ng-click="addNew()">Add New</button>
	<h1 class="page-header"><i class="fa fa-user" aria-hidden="true"></i> Rm</h1>
	<table class="table table-striped">
		<tr>
			<th>SL</th>
			<th>RM Name</th>
			<th>User Name</th>
			<th>Bank</th>
			<th>Product</th>
			<th>Zone</th>
			<th>Location</th>
			<th>Branch</th>
			<th>Email</th>
			<th>Mobile</th>
			<!-- <th>Status</th> -->
			<th>Action</th>
		</tr>
		<tr ng-repeat="rm in RMs track by $index">
			<td>{{$index + 1}}</td>
			<td>{{rm.name}}</td>
			<td>{{rm.username}}</td>
			<td>{{rm.bank}}</td>
			<td>{{rm.product | product}}</td>
			<td>{{rm.zone}}</td>
			<td>{{rm.location}}</td>
			<td>{{rm.branch}}</td>
			<td>{{rm.email}}</td>
			<td>{{rm.mobile}}</td>
			<!-- <td>{{rm.status}}</td> -->
			<td>
				<button class="btn btn-primary btn-xs" ng-click="editRM(rm.rmid)"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
				<button class="btn btn-danger btn-xs" ng-click="deleteRM(rm.rmid)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
			</td>
		</tr>
		<tr ng-if="!RMs.length">
			<td colspan="13">No Record Found !!</td>
		</tr>		
	</table>
</section>